.mainBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
}
.secondBox {
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timer {
  margin: 10px;  
  text-align: center;
}