/* html {
  height: 100%
} */

/* body {
  background:  radial-gradient(100% 215.42% at 0% 0%, #e0bc58 0%, #946000 100%), #211F20;
    
} */
/* h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;  
  align-items: center;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-align: center;
} */